/** common*/
.imfop{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1% 1%;
}

.write{
    width: 80%;
    margin: 3% auto;
}
.write h2{
    margin-bottom: 3%;
}

.table{
    margin-bottom: 0 !important;
}

.w_choo1{
    float: left;
    width: 46% !important;
}

.w_choo2{
    float: left;
    text-align: center;
    width: 8%;
}

.w_choo3{
    width: 46% !important;
}

.w_choo3::after{
    clear: both;
}

.footerConfom{
    list-style-type: disc;
    margin-left: 2%;
}

/**title*/
.w_write{
    width: 100%;
    margin: auto;

}

.imfo{
    width: 100%;
    margin:4% auto;
}


.w_Location{
    width: 100%;
    margin: auto;
}